<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Supplementary test</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>MyUsers</header>
        <div class="container">
            <form action='/' method="POST">
                <input type="text" value="" placeholder="Enter user's name here"></input>
                <button type="submit">Add user</button>
            </form>
        </div>
    </body>
</html>